<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categor&iacuteas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-card {
            background-color: #ADD8E6;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem; 
            margin-bottom: 20px; 
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Categor&iacuteas</h1>
    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body text-center">
                    <img src="images/electronic.jpeg" class="card-img-top img-fluid" alt="Opción 1" style="max-width: 150px;">
                    <h5 class="card-title">Electr&oacutenica</h5>
                    <p class="card-text">Descubre nuestra amplia gama de art&iacute;culos electr&oacute;nicos dise&ntilde;ados para mejorar tu vida diaria. Desde los &uacute;ltimos smartphones hasta dispositivos de hogar inteligente, cada producto ha sido seleccionado cuidadosamente para ofrecerte calidad y rendimiento excepcionales.</p>
                    <a href="/electronica" class="btn btn-primary">Seleccionar</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body text-center">
                    <img src="images/papel.jpeg" class="card-img-top img-fluid" alt="Opción 2" style="max-width: 150px;">
                    <h5 class="card-title">Papeler&iacutea</h5>
                    <p class="card-text">Descubre nuestra amplia gama de art&iacute;culos de limpieza dise&ntilde;ados para facilitar tus tareas del hogar. Desde detergentes y desinfectantes hasta herramientas de limpieza innovadoras, cada producto ha sido seleccionado cuidadosamente para ofrecerte eficacia y comodidad en cada uso.</p>
                    <a href="/Papeleria" class="btn btn-primary">Seleccionar</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body text-center">
                    <img src="images/alimento.jpeg" class="card-img-top img-fluid" alt="Opción 3" style="max-width: 150px;">
                    <h5 class="card-title">Comida</h5>
                    <p class="card-text">Descubre nuestra amplia gama de art&iacute;culos de alimentos frescos y saludables, dise&ntilde;ados para satisfacer tus necesidades nutricionales. Desde frutas y verduras hasta productos envasados, cada producto ha sido seleccionado cuidadosamente para ofrecerte calidad y sabor excepcionales en cada comida.</p>
                    <a href="/Comida" class="btn btn-primary">Seleccionar</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body text-center">
                    <img src="images/ass.jpeg" class="card-img-top img-fluid" alt="Opción 4" style="max-width: 150px;">
                    <h5 class="card-title">Aseo</h5>
                    <p class="card-text">Descubre nuestra amplia gama de art&iacute;culos de aseo personal, dise&ntilde;ados para cuidar de tu higiene y bienestar. Desde jabones y champ&uacute;s hasta productos de cuidado dental, cada producto ha sido seleccionado cuidadosamente para ofrecerte calidad y frescura en tu rutina diaria.</p>
                    <a href="/Aseo" class="btn btn-primary">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%- include('partials/Retorno'); -%>
</body>
</html>