<!DOCTYPE html>
    <html>
        <head>
        <div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
			<link rel="stylesheet" href="/stylesheets/style.css">
             </head>
<body>
  <body>

     <div style="background-color: rgb(40, 40, 40); padding: 100px 0px 100px 0px; color: white; text-align: center;">
     <h1>Test Shop</h1>
     <%- include('./partials/Direccionador.ejs');%>
        </body>
    </html>